$white: #ffffff;

$color-bg: #fafafa;
$color-text: #1d1d1d;
$color-shadow: #c6c6c6;
$color-icons: #b4b4b4;


$theme-colors: (
    "bg-main": $color-bg,
    "color-main": $color-text,
);



@import "~bootstrap/scss/bootstrap";