@import '../../../Sass/custom.scss';


.overlayMainPhoto {
    border: 1px solid $color-borders;
    border-radius: 4px;
    & .dragDrop {
        cursor: copy;
    }
    & .insertDragDrop {
        transition: all .5s ease-in-out;
        background: $color-dragDropShadow;
        box-shadow: 0px 0px 20px 20px $color-dragDropShadow;
    }
}