@import "./Sass/custom.scss";



.App {
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $color-bg;
  & h6 {
    font-size: 1rem;
  }
}
.center-inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media ( min-width: 768px ) {
 
}